<section class="flex flex-col items-center justify-center px-5 py-5" id="compo3">
    <h2 class="uppercase text-3xl font-thin mb-10">our creations</h2>

    <div class="creations flex flex-col gap-7">
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    deep earth
                </p>
            </div>
            <picture class="relative">
                <img
                    class=""
                    src="/images/mobile/image-deep-earth.jpg"
                    alt=""
                />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    night arcade
                </p>
            </div>
            <picture class="relative">
                <img
                    class=""
                    src="/images/mobile/image-night-arcade.jpg"
                    alt=""
                />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    soccer team vr
                </p>
            </div>
            <picture class="relative">
                <img
                    class=""
                    src="/images/mobile/image-soccer-team.jpg"
                    alt=""
                />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">the grid</p>
            </div>
            <picture class="relative">
                <img class="" src="/images/mobile/image-grid.jpg" alt="" />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    from above vr
                </p>
            </div>
            <picture class="relative">
                <img
                    class=""
                    src="/images/mobile/image-from-above.jpg"
                    alt=""
                />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    pocket boreals
                </p>
            </div>
            <picture class="relative">
                <img
                    class=""
                    src="/images/mobile/image-pocket-borealis.jpg"
                    alt=""
                />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    the curiosity
                </p>
            </div>
            <picture class="relative">
                <img class="" src="/images/mobile/image-curiosity.jpg" alt="" />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
        <div class="creation__item relative">
            <div class="creation-item__txt w-40 bottom-5 left-5 absolute z-10">
                <p class="uppercase text-white font-thin text-3xl">
                    make it fisheye
                </p>
            </div>
            <picture class="relative">
                <img class="" src="/images/mobile/image-fisheye.jpg" alt="" />
                <div
                    class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent"
                >
                </div>
            </picture>
        </div>
    </div>

    <a
        href="#"
        class="border-2 border-black outline-0 w-40 h-10 text-md le uppercase
     flex items-center justify-center my-10"
        >see all</a
    >
</section>
