<footer>
    <h3>loopstudios</h3>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <div class="social__div">
        <a href="#">
            <img src="../../public/images/icon-facebook" alt="" />
        </a>
    </div>
    <p>&copy; 2025 pogostudios. All rights reserved.</p>
</footer>
