<header class="relative" id="compo1">
    <div
        class="header__txt absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    text-4xl text-white uppercase font-light border-2 border-white py-6 px-9"
    >
        <h2>immersive experiences that deliver</h2>
    </div>

    <picture>
        <img class="" src="/images/mobile/image-hero.jpg" alt="" />
    </picture>
</header>
