<nav class="flex flex-row justify-between items-center py-6 px-5
fixed w-full z-40">
    <div class="nav__left">
        <span class="text-2xl font-semibold text-white ">loppstudios</span>
    </div>
    <div class="nav__right">
        <button class="">
            <i class="fa-solid fa-bars-staggered text-2xl text-white"></i>
        </button>
    </div>
</nav>
