<section class="flex flex-col py-25 px-7 gap-10">
    <div class="section1__img">
        <picture>
            <img src="/images/mobile/image-interactive.jpg" alt="" />
        </picture>
    </div>
    <div class="section1__txt flex flex-col items-center justify-center">
        <h3 class="uppercase text-3xl text-center pb-5 tracking-wide ">
            the leader in interactive vr
        </h3>
        <p class="text-center leading-7 text-black/30 font-semibold">
            Founded in 2011, Loopstudios has been producing world-class virtual
            reality projects for some of the best companies around the blobe.
            Our award-winning creations hace transformed businesses through
            digital experiences that bind to their brand.
        </p>
    </div>
</section>
